version: '3.8'

services:
  backend:
    build: ./python-backend
    image: mhollette/trading-application:backend
    container_name: trading-app-api
    ports:
      - "8000:8000"
    volumes:
      - trading_app_db:/app
    environment:
      - TZ=UTC

  frontend:
    build: ./react-frontend
    image: mhollette/trading-application:frontend
    container_name: trading-app-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  trading_app_db: