.transaction-history-container {
    padding: 20px;
    margin-top: 70px; 
    text-align: center;
    font-family: Arial, sans-serif;
    color: #f5f5f5;
    max-height: calc(100vh - 100px);
    overflow: hidden; 
}

.transaction-table-container {
    max-height: 70vh; 
    overflow-y: auto; 
    margin: 0 auto;
    border: 1px solid #282828;
    border-radius: 10px;
    background-color: #1e1e1e;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.transaction-table {
    width: 100%;
    border-collapse: collapse;
}

.transaction-table th {
    background-color: #282828;
    color: #00acee;
    font-weight: bold;
    position: sticky; 
    top: 0; 
    z-index: 2;
}

.transaction-table td, .transaction-table th {
    border: 1px solid #282828;
    padding: 10px;
    text-align: center;
}

.transaction-table tbody tr:nth-child(even) {
    background-color: #121212;
}

.transaction-table tbody tr:hover {
    background-color: #333333;
}
    
.transaction-table-container::-webkit-scrollbar {
    width: 8px; 
}

.transaction-table-container::-webkit-scrollbar-track {
    background: #1e1e1e; 
}

.transaction-table-container::-webkit-scrollbar-thumb {
    background-color: #00acee; 
    border-radius: 5px; 
    border: 2px solid #1e1e1e; 
}

.transaction-table-container {
    scrollbar-color: #00acee #1e1e1e; 
    scrollbar-width: thin;
}
